body{
    background-color: lightgreen;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container div {
    margin-top: 8px;
}
@media screen and (min-width:0px) and (max-width: 400px) {
    body{
        background-color: lightcoral;
    }
}

@media screen and (min-width:400px) and (max-width:800px) {
    body{
        background-color: lightblue;
    }
}
@media print {
    h1{
        display: none;
    }
}